<doctype html>
<html>
<head>
  <link rel="stylesheet" href="Page3.css">
  <h1 class="blocktext" style= font-family:Helvetica> You have been matched with a Sister!</h1>
<body background="https://cdn.pixabay.com/photo/2016/01/25/23/07/fabric-1161718_960_720.jpg">
<body>
  <!-- {% if Computer_Science %} -->
<div class="Container">
   <p class="blocktext" style= font-family:Helvetica> Your Sister will be Maria! </p>
      <img src= "https://cdn.pixabay.com/photo/2018/10/02/11/13/girl-3718526_960_720.jpg"
        width="450" height="300" class="displayed">
        <div class="middle">
          <div class="text-block"> Maria is also a computer science student and is looking forward to making new friends. </div>
     </div>

  <!-- <{% endif %}> -->

  <!-- {% if Arts_and_Humanities %} -->
  <!-- <div class="Container">
    <p class="blocktext" style= font-family:Helvetica> Your Sister will be Charlotte! </p>
        <img src= "https://cdn.pixabay.com/photo/2015/07/11/19/23/book-841171_960_720.jpg"
          width="450" height="300" class="displayed">
          <div class="middle">
            <div class="text"> Charlotte is a Humanities student and is looking forward to playing football with new students. </div>
          </div>
       </div> -->
  <!-- {% endif %} -->

  <!-- {% if Maths %} -->
  <!-- <div class="Container">
    <p class="blocktext" style= font-family:Helvetica> Your Sister will be Jenny! </p>
        <img src= "https://cdn.pixabay.com/photo/2015/08/05/10/52/anishia-davis-876169_960_720.jpg"
          width="450" height="300" class="displayed">
          <div class="middle">
            <div class="text"> Jenny is a Maths student and is excited to meet new people at Kings. </div>
          </div> --> 
        <!-- </div>
  <!- {% endif %} -->

  <!-- {% if Politics %} -->
  <!-- <div class="Container">
    <p class="blocktext" style= font-family:Helvetica> Your Sister will be Wanda! </p>
        <img src= "https://cdn.pixabay.com/photo/2017/08/25/21/46/idea-2681503_960_720.jpg"
          width="450" height="300" class="displayed">
          <div class="middle">
            <div class="text"> Wanda studies politics and is excited to start sharing knowledge with other students. </div>
          </div> -->
        <!-- </div> -->
  <!-- {% endif %} -->

<p class="p2"> Check out the map below to find out where your first meeting will be. </p>

</body>
</head>
</html>
    <!-- {% endif %} -->

    <!-- {% if Computer_Science %} -->
  <!-- {% if Arts_and_Humanities %} -->
  <!-- <p>Your Sister will be Charlotte </p> -->
<!-- https://cdn.pixabay.com/photo/2018/10/02/11/13/girl-3718526_960_720.jpg -->
