<doctype html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/Page3.css">
  <h1 class="blocktext" style= font-family:Helvetica> You have been matched with a Sister!</h1>
<body background="https://cdn.pixabay.com/photo/2016/01/25/23/07/fabric-1161718_960_720.jpg">
<body>
<div class="Container">
   <p class="blocktext" style= font-family:Helvetica> Your Sister will be Maria! </p>
      <img src= "https://cdn.pixabay.com/photo/2018/10/02/11/13/girl-3718526_960_720.jpg"
        width="450" height="300" class="displayed">
        <div class="middle">
          <div class="text-block"> Maria is also a computer science student and is looking forward to making new friends. </div>
     </div>

<p class="p2"> Check out the map below to find out where your first meeting will be. </p>

</body>
</head>
</html>
    
