<doctype html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/Page3.css">
  <h1 class="blocktext" style= font-family:Helvetica> You have been matched with a Sister!</h1>
<body background="back.jpg">
<body>
<div class="Container">
   <p class="blocktext" style= font-family:Helvetica> Your Sister will be Maria! </p>
      <img src= "../static/images/back.jpg" class="displayed">
        <div class="middle">
          <div class="text-block" style=color:white;"> Maria is also a computer science student and is looking forward to making new friends. </div>
     </div>

<p class="p2"> Check out the map below to find out where your first meeting will be. </p>


<p> {{tweets}} </p>

</body>
</head>
</html>
    
